################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ImageRepository/.vs/ImageRepository/v16
/ImageRepository/ImageRepository.WPFApplication/obj
/ImageRepository/ImageRepository.WPFApplication/bin/Debug/net5.0-windows
/ImageRepository/.vs/ImageRepository/DesignTimeBuild
